.myIntro, .myProfSum, .mySkills {
    background-color: #010229;
    color: aliceblue;
    padding: 2%;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 2%;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .myIntro, .myProfSum, .mySkills {
        font-size: 15px;
        width: 100%;
        margin: 5px;
        align-content: center;
    }
}
